matplotlib==3.1.3
numpy==1.21.2
sympy==1.4
mpmath==1.2.1
%matplotlib inline
import ipywidgets as widgets
import matplotlib.pyplot as plt
import numpy as np
from numpy import *
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from scipy.integrate import quad
